<%
	@buckets = []
	@buckets.push({:Title => "Explore", :Subtitle => "Scrapbooks-Subtitle", :Description => "Scrapbooks yada yada", :Image => "/uploads/spotlight/resources/upload/url/700/jpeg_2005-036.5.2_ScrpBk_33-a.jpg", :Link => "/spotlight/wwi/feature/discover"})
	@buckets.push({:Title => "Stories", :Subtitle => "Classroom-Subtitle", :Description => "Classroom yada yada", :Image => "/uploads/spotlight/resources/upload/url/1461/jpeg_JM02_056_1..jpg", :Link => "/spotlight/wwi/feature/stories"})
	@buckets.push({:Title => "Learn", :Subtitle => "About-Subtitle", :Description => "About yada yada", :Image => "/uploads/spotlight/resources/upload/url/1413/jpeg_JM02_012_1..jpg", :Link => "/spotlight/wwi/feature/learn"})

	
	  
%>
<style>
#search-image {
	height: 100%;
	width: 700px;
	background-image: url("/uploads/spotlight/resources/upload/url/1293/jpeg_Cloverpoint_front..jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	/*padding: 140px 10px 140px 110px;*/
	padding-top: 342px;
	margin: 0 auto; 
}
#search-header {
	height: 500px;
	width: 725px;
	float:left;
}
#buckets {
	width: 300px;
	float:left;
    margin-left: 8px;
}

.custom-holder {
	max-width: 1040px;
	margin-right: auto;
	margin-left: auto;
}

.custom-card-front {
	max-width: 100%; 
	height: 155px;
	background-size: 100%;
	padding-top: 30px;
}
.front-card-title {
	background-color: rgba(3,3,3,0.6);
	padding-bottom: 15px;
	padding-top: 15px;
	color: white;
	font-weight: bold;
}
</style>
<%= render 'wwi/exhibit_navbar' if current_exhibit && !resource_masthead? %>
<div class="custom-holder">
	<div id="search-header">
		<div id="search-image">
			<%#= render_search_bar  %>
			<a href=""><h1 class="front-card-title" style="margin-bottom:0;text-align: center;padding-top:8%">Enter Main Exhibit</h1></a>
			<p class="front-card-title" style="font-weight: normal; margin-top:0; padding-top:0">&nbsp;</p>
		</div>
	</div>
	<div id="buckets">
	<%	@buckets.each do |bucket| %>
		<div class="col-xs-12 exhibit-card" style="float:none; max-width:100%; height:155px; margin: 0 -16px 0 16px">
		  <div class="flipper">
			<div class="card-front card-face custom-card-front" style="background-image: url(<%=bucket[:Image]%>);">
				<a href="<%=bucket[:Link]%>"><h2 class="front-card-title" style="text-align: center;"><%=bucket[:Title]%></h2></a>
			</div>
			<div class="card-back card-face" style="max-width:100%; height:155px;">
				<h2 class="card-title"><%=bucket[:Title]%></h2>
				<p class="subtitle"><%=bucket[:Subtitle]%></p>
				<p class="description"><%=bucket[:Description]%></p>
				<div class="visit-exhibit center-btn">
				  <a class="btn btn-primary" role="button" href="<%=bucket[:Link]%>">Visit</a>
				</div>
			</div>
		  </div>
	    </div>
	    <br>
	<% 	end %>
	</div>
	
	<div style="height: 200px;">
	</div>
</div>
<script type="text/javascript">
var search_image = $('#search-image');
window.onload = function() {
	$(window).bind('resize', function () { 
		if ($(window).width()<=1050) {
			$('#search-header').css("width", $(window).width().toString());
			$('#search-header').css("height", ($(window).width()*0.588).toString());
			search_image.css("width", ($(window).width()-50).toString());
			search_image.css("padding-top", (parseInt($('#search-header').css("height"))-20).toString());
			$('#buckets').css("width", ($(window).width()-32).toString());
			$('#buckets').css("padding-top", "155");
		}
		else {
			$('#search-header').css("width", "725");
			$('#search-header').css("height", "500");
			search_image.css("width", "700");
			search_image.css("padding-top", "342");
			$('#buckets').css("width", "300");
			$('#buckets').css("padding-top", "0");
		}
	});
	if ($(window).width()<=1050) {
		$('#search-header').css("width", $(window).width().toString());
		$('#search-header').css("height", ($(window).width()*0.588).toString());
		search_image.css("width", ($(window).width()-50).toString());
		search_image.css("padding-top", (parseInt($('#search-header').css("height"))-20).toString());
		$('#buckets').css("width", ($(window).width()-32).toString());
		$('#buckets').css("padding-top", "155");
	}
	else {
		$('#search-header').css("width", "725");
		$('#search-header').css("height", "500");
		search_image.css("width", "700");
		search_image.css("padding-top", "342");
		$('#buckets').css("width", "300");
		$('#buckets').css("padding-top", "0");
	}
	
}
var images = new Array("url(/uploads/spotlight/resources/upload/url/700/jpeg_2005-036.5.2_ScrpBk_33-a.jpg)","url(/uploads/spotlight/resources/upload/url/1461/jpeg_JM02_056_1..jpg)","url(/uploads/spotlight/resources/upload/url/1413/jpeg_JM02_012_1..jpg)");
current = 0;

function carousel() {
	current++;
    current = current % images.length;
    search_image.css('background-image', images[current]);
    setTimeout(carousel, 8000);
}
carousel();
document.getElementsByName('utf8')[0].remove();
</script>