<!DOCTYPE html>
<html>
<head>
  <title>Spotlight</title>
  <script type="text/javascript">
  var autocompleteExhibitCatalogIndexPath = "/spotlight/<%=params[:exhibit_id]%>/catalog/autocomplete.json?q=%25QUERY";
  </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
